* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.square {
    width: 100%;
    margin: 0 auto;
    font-family: 'VT323', monospace;
    position: relative;
    /* overflow: hidden; */
}
.square::before {
    content: "";
    display: block;
    padding-top: 100%;
}

main {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin-top: 4rem;
    max-width: 100%;
    max-height: 100%;
}
.container {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4rem 1rem;
    background-color: red;
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
    gap: 1rem;
    font-size: 24px;
}

.screen {
    background-color: white;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border: 1px solid black;
}

.col {
    display: flex;
    flex: 1;
    transition: background 0.4s;

}

.tile {
    flex: 1 1;
    border: 1px solid rgba(0, 0, 0, 0.3);

}

.settings {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    justify-content: center;
    width: 100%;
    align-items: center;
}
.option {
    position: relative;
    display: flex;
    gap: 0.5rem;
    align-items: center;
}
/* #gridSize {
    transform: rotate(270deg);
} */
#gridSizeText {
    position: absolute;
    right: -2rem;
    text-align: center;
    transition: all 0.3s;
}
#gridSizeText.change {
    font-size: 1.8rem;
    color: blue;
}

.container-button {
    width: 5rem;
    height: 5rem;
    background: #fff;
    border-radius: 50%;
    border-color: black;
    box-shadow: 0 5px 20px black;
    z-index: 10;
}
.container-button.left {
    position: absolute;
    left: -1rem;
    bottom: -1rem;
}
.container-button.right {
    position: absolute;
    right: -1rem;
    bottom: -1rem;
}
.container-button > .button {
    position: absolute;
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    background: radial-gradient(circle at center, rgba(0,0,0,0.2), #fff);
}
.container-button.left > span {
    position: absolute;
    left: 110%;
    top: 50%;
    width: 10rem;
}
.container-button.right > span {
    position: absolute;
    right: 110%;
    top: 50%;
    width: 10rem;
    text-align: end;
}
input[type=color] {
    position: absolute;
    width: 100%;
    height: 100%;
    border: none;
    opacity: 0;
}

#hoverText {
    display: flex;
    justify-content: center;
    align-items: center;
}





@media (min-width: 768px) {
    main {
        margin-top: 5rem;
    }

    .square {
        width: 90%;
    }
}

@media (min-width: 1024px) {
    .square {
        width: 75%;
    }
}

@media (min-width: 1280px) {
    .square {
        width: 63%;
    }
}

@media (min-width: 1536px) {
    .square {
        width: 50%;
    }
}