* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: whitesmoke;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30rem;
    width: 100%;
}

.screen {
    border: 3px solid red;
    border-radius: 1rem;
    width: 50%;
    height: 100%;
}